*{
    padding: 0;
    margin: 0;
}

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
main{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
}
.section-1{
    margin-bottom: 130px;
}
/* .section-2{
    margin-bottom: 130px;
} */
.section-3{
    margin-bottom: 130px;
}
  /* shared styles */
.display-flex{
    display: flex;
}
/* dark 02 */
.text-gray{
    color: rgb(66, 66, 66);
}
/* dark 03 */

.text-light-gray{
    color: rgb(114, 114, 114);
}
/* header background */
.bg-light{
    background: rgba(255, 144, 14, 0.1);
}

/* header styles */

/* navber related styles */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    color: rgb(19, 19, 19);
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: center;
}

.nav-links{

}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
}

.navbar, .banner{
    margin: 0 auto;
    max-width: 1440px;
}

.banner-content{
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3.1rem;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.btn-primary{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    padding: 20px 25px;
    border: none;
}

.banner-image{
    width: 100%;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    /* align-items: center; */
    flex-direction: column;
    margin-left: 130px;
    max-width: 530px;
    /* row-gap: 20px; */
    justify-content: center;
    /* text-align: center; */
    
}

.section-title{
    font-size: 45px;
    margin-bottom: 24px;
}
.feature-description{

}
.ql{
    font-weight: 500;
}
.feature{
    color: rgb(255, 144, 14);
}
.fact-container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact{
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    margin-bottom: 30px;
    width: 240px;
    height: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-name{
    color: rgb(114, 114, 114);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
}
.fact-number{
    color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: 0%;
    margin-top: 10px;
    margin-bottom: 5px;
}
/* responsive media quary */

@media screen and (max-width: 576px) {
    .navbar , .nav-links, .section-1{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
    .our-features{
        margin: 20px;
    }
}